
<html>
    <head>
        <title>Base</title>
    </head>
    <body>
        <h1>Twitter Clone</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {% if username %}
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/create_account">Create account</a></li>
                {% endif %}
                <li><a href="/create_message">Create message</a></li>
                <li><a href="/search">Search</a></li>
            </ul>
        </nav>
        {% if username %}
            <p>Welcome, {{ username }}!</p>
        {% endif %}
        {% block content %}{% endblock %}
    </body>
</html>
